.workout-list-container{

    background-color: #181C23;
    padding: 50px;
    position: relative;

    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }

    header{
        position: relative;
        margin-top: 20px;
        color: #fff;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 16px;

        .icon-back{
            position: absolute;
            left: 0;
        }
    }

    .workout-main{

        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        color: #fff;

        .workout-card{
            width: 100%;
            border-radius: 10px;
            border: 1px solid #39404D;
            background-color: #292E38;
            padding: 20px;
        
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            row-gap: 8px;

            text-decoration: none;
        
            .title{
                width: 100%;
                font-size: 16px;
                font-weight: lighter;
                color: #fff;
            }
            .description, .date{
                width: 100%;
                font-size: 12px;
                font-weight: lighter;
                color: #BDBDBD;
                overflow: hidden;
                display: -webkit-box;
                line-clamp: 2;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .hr{
                background-color: #BDBDBD;
                width: 100%;
                height: 1px;
                margin-top: 5px;
                margin-bottom: 10px;
            }
            .tag{
                align-self: baseline;
                padding: 8px 10px;
                border: 1px solid #F1870E;
                border-radius: 5px;
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 10px;
            }
        }

    }
}
